<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mr.yihuanhuishou">
    //地图SDK（包含其搜索功能）需要的基础权限
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 登录分享 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <application
        android:name=".base.Myapplication"
        android:allowBackup="true"
        android:icon="@drawable/yihuan_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7a25cc37d7e0df275217ab3a60614bfd">
            //开发者申请的key</meta-data>

        <activity android:name=".activity.LogonActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.amap.api.location.APSService" />

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1149180427146127#yihuan" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 地图 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="PTGhoQbuEgT3Ws27u3cwIk35uTkAmc4d" />
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 下载文件 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity android:name=".activity.Home_detailActivity" />
        <activity android:name=".activity.LocationActivity" />
        <activity android:name=".activity.Bill_DetailActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.Pay_DetailsActivity" />
        <activity android:name=".activity.Dingdan_DetailsActivity" />
        <activity android:name=".activity.Wait_zhifu_DetailsActivity" />
        <activity android:name=".activity.Wait_wancheng_DetailsActivity" />
        <activity android:name=".activity.Driver_dingdan_DetailsActivity" />
        <activity android:name=".activity.Clame_Goods_DetailsActivity" />
        <activity android:name=".activity.Distrbstion_DetailActivity" />
        <activity android:name=".activity.Distribution_success_DetailsActivity" />
        <activity android:name=".activity.Driver_Wait_zhifu_DetailsActivity" />
        <activity android:name=".activity.Driver_zhifu_success_DetailsActivity" />
        <activity android:name=".activity.Driver_Cancle_DetailsActivity" />
        <activity android:name=".activity.Wait_Designate_DetailsActivity" />
        <activity android:name=".activity.Oneseif_Wait_pay_detailsActivity" />
        <activity android:name=".activity.Oneseif_Success_DetailsActivity" />
        <activity android:name=".activity.Bill_Ticking_DetailsActivity" />
        <activity android:name=".activity.MyMsgActivity" />
        <activity android:name=".activity.Msg_neirongActivity" />
        <activity android:name=".activity.Infor_Msg_DetailsActivity" />
        <activity android:name=".activity.Fire_msg_DetailsActivity" />
        <activity android:name=".driver.DriverHomeActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".driver.ui.CompanyDetailActivity" />
        <activity android:name=".driver.ui.DriverOrderActivity" />
        <activity android:name=".driver.ui.OrderDetailActivity" />
        <activity android:name=".driver.ui.DriverMessageActivity" />
        <activity android:name=".driver.ui.DriverPersonActivity" />
        <activity android:name=".driver.ui.QiangdanDetailActivity" />
        <activity android:name=".driver.ui.MyDriverMessageActivity" />
        <activity android:name=".driver.ui.PersonInfoActivity" />
        <activity android:name=".driver.ui.HuishouCompanyActivity" />
        <activity android:name=".driver.ui.HuiShouCompanyDetailActivity" />
        <activity android:name=".driver.ui.DriverWalletActivity" />
        <activity android:name=".driver.ui.JiluDetailActivity" />
        <activity android:name=".driver.ui.TixianActivity" />
        <activity android:name=".driver.ui.TixianManagerActivity" />
        <activity android:name=".driver.ui.BindCardActivity" />
        <activity android:name=".driver.ui.UnBindCardActivity" />
        <activity
            android:name=".driver.ui.DriverChepaiActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".driver.ui.DriverYijianActivity" />
        <activity android:name=".driver.ui.DriverSettingActivity" />
        <activity android:name=".driver.ui.EditPassWordActivity" />
        <activity android:name=".driver.ui.AboutUsActivity" />
        <activity android:name=".driver.ui.HelpActivity" />
        <activity android:name=".driver.ui.HelpDetailActivity" />
        <activity android:name=".driver.ui.PackageBagManagerActivity" />
        <activity android:name=".activity.MineActivity" />
        <activity android:name=".activity.QiangDan_DetailsActivity" />
        <activity android:name=".activity.HomePersonInfoActivity" />
        <activity android:name=".activity.YihuanBiActivity" />
        <activity android:name=".activity.YaJinActivity" />
        <activity android:name=".activity.PostDemandActivity" />
        <activity android:name=".activity.HomeCompanyDetailActivity" />
        <activity android:name=".activity.CarDetailActivity" />
        <activity android:name=".activity.Real_nameActivity" />
        <activity android:name=".activity.Recycle_priceActivity" />
        <activity android:name=".activity.Select_AddressActivity" />
        <activity android:name=".driver.ui.SendPackgeActivity" />
        <activity android:name=".driver.ui.ChatActivity" />
        <activity android:name=".activity.ZhuCe_RegisterActivity" />
        <activity android:name=".activity.XieyiActivity" />
        <activity android:name=".activity.wangji_forgetActivity" />
        <activity android:name=".activity.ChongzhiActivity" />
        <activity android:name=".activity.Record_jiluActivity" />
        <activity android:name=".activity.Yajin_recordActivity" />
        <activity android:name=".activity.New_AddressActivity" />
        <activity android:name=".activity.Address_DetailsActivity" />
        <activity android:name=".activity.Address_bianjiActivity" />
        <activity android:name=".activity.Recycler_FirmActivity" />
        <activity android:name=".activity.Shenhe_Frim_DetailsActivity" />
        <activity android:name=".activity.Xuqiu_DetailActivity" />
        <activity android:name=".activity.Two_dismins_codActivity" />
        <activity android:name=".activity.PackManageActivity" />
        <activity android:name=".activity.PackManage_DetailsActivity" />
        <activity android:name=".activity.Bar_CodeActivity" />
        <activity android:name="com.bjxf.zxing.view.SweepCodeActivity" />
        <activity android:name=".activity.ComplaintActivity" />
        <activity android:name=".activity.NoticolActivity" />
        <activity android:name=".activity.Noticol_DrtailActivity" />
        <activity android:name=".activity.Dingdan_itmeActivity" />
        <activity android:name=".activity.Dingdan_DetailActivity" />
        <activity android:name=".activity.TPDetailsActivity" />
        <activity android:name=".activity.Touxiang_DetailsActivity" />
        <activity android:name=".activity.Driv_ZhuCe_ReginActivity" />
        //支付
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".activity.Driv_wangji_forgetActivity" />
        <activity android:name=".activity.Driver_DQH_DetailsActivity" />
        <activity android:name=".activity.Driver_PSZ_DetailsActivity" />
        <activity android:name=".activity.Driver_YWC_DetailsActivity" />
        <activity android:name=".activity.Driver_qx_DetailsActivity" />
        //微信
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".activity.Chongzhi_yihuanActivity" />
        <activity android:name=".activity.Yaoqing_DetailsActivity" />
        <activity android:name=".activity.Driver_is_ErweimaActivity" />
        <activity android:name=".activity.Driver_DZF_DetailsActivity"></activity>
    </application>

</manifest>