<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mr.yihuanhuishou">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_xxxhdpi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Home_detailActivity" />
        <activity android:name=".activity.LocationActivity" />
        <activity android:name=".activity.Bill_DetailActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.Pay_DetailsActivity" />
        <activity android:name=".activity.Dingdan_DetailsActivity" />
        <activity android:name=".activity.Wait_zhifu_DetailsActivity" />
        <activity android:name=".activity.Wait_wancheng_DetailsActivity" />
        <activity android:name=".activity.Driver_dingdan_DetailsActivity" />
        <activity android:name=".activity.Clame_Goods_DetailsActivity" />
        <activity android:name=".activity.Distrbstion_DetailActivity" />
        <activity android:name=".activity.Distribution_success_DetailsActivity" />
        <activity android:name=".activity.Driver_Wait_zhifu_DetailsActivity" />
        <activity android:name=".activity.Driver_zhifu_success_DetailsActivity" />
        <activity android:name=".activity.Driver_Cancle_DetailsActivity" />
        <activity android:name=".activity.Wait_Designate_DetailsActivity"></activity>
    </application>

</manifest>